<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630296081271-3vsl334vhk79s2of1v56eqnn16tt1sg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630296081271-3vsl334vhk79s2of1v56eqnn16tt1sg5</string>
	<key>API_KEY</key>
	<string>AIzaSyDCLVLK8bpqNlnz5qM8Ou2eo6V8eeW_faA</string>
	<key>GCM_SENDER_ID</key>
	<string>630296081271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caseStore</string>
	<key>PROJECT_ID</key>
	<string>crudproject-f7f32</string>
	<key>STORAGE_BUCKET</key>
	<string>crudproject-f7f32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630296081271:ios:619224568588bf2c39a772</string>
</dict>
</plist>